{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Personalweb Blog</title>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/blog.css' %}">
		<link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    </head>
    <body>
    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item active" href="/">Beranda</a>
          <a class="blog-nav-item" href="#">Kategori</a>
          <a class="blog-nav-item" href="#">Hot</a>
          <a class="blog-nav-item" href="#">About</a>
		  {% if user.is_authenticated %}
		  <span class="blog-nav-item">Hello, {{ user.username }} ( <a href="{% url 'logout' %}">Log out</a> )</span>
		  {% else %}
		  <a href="{% url 'login' %}" class="blog-nav-item"><span class="glyphicon glyphicon-lock"></span></a>
		  {% endif %}
        </nav>
      </div>
    </div>
	    <div class="page-header">
	        <span class="title"><a href="/">Personalweb Blog</a></span>
	    </div>
	    <div class="content container">
	        <div class="row">
	            <div class="col-md-8">
			    {% if user.is_authenticated %}
			    <div style="text-align:right;">
			    <a href="{% url 'post_new' %}"><span class="glyphicon glyphicon-plus"></span> Post Baru</a>
			    &nbsp;<a href="{% url 'post_draft_list' %}"><span class="glyphicon glyphicon-edit"></span> Draft Post</a>
			    </div>
			    {% endif %}
	            {% block content %}
	            {% endblock %}
	            </div>
	            <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
          </div>
          <div class="sidebar-module">
            <h4>Archives</h4>
            <ol class="list-unstyled">
              <li><a href="#">March 2016</a></li>
              <li><a href="#">February 2016</a></li>
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="#">GitHub</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
            </ol>
          </div>
        </div>
	        </div>
	    </div>
	    <footer class="blog-footer">
	      <p>Copyright Personalweb 2016, Indonesia.</p>
	      <p>
	        <a href="#">Back to top</a>
	      </p>
	    </footer>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/jquery.min.js' %}"></script>
	</body>
</html>