@import 'https://fonts.googleapis.com/css?family=Roboto:300';

body{
	height: 100%;
	background: #242a31;
	color:#fff;
	font-family:'Roboto', sans-serif;
}
.navbar{
	background: #343d46; 
	box-shadow:0px 0px 13px rgba(0,0,0,0.8); 
	border-bottom:none;
}

.imgicn{
	width:34px;
	height: 34px;
	animation-name: imgeff;
	animation-iteration-count: infinite;
    animation-timing-function: ease-out;
	animation-duration: 1.5s;
}

.profimg{
	border:solid 2px #fff;
    transition: all 1.5s linear;
}

.profimg:hover{
	animation-name: imgrotate;
	animation-iteration-count: 1;
	animation-duration: 1.5s;
}
.mnu-btn a{
	padding-top:4px;
}
.navbar-brand>div:hover{
	background: transparent;
	padding:3px;
       transition: all 0.4s linear;
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

@keyframes imgeff{
	0%{ box-shadow:0 0 0 0 #0079ff; }
	100%{ box-shadow:0 0 0 7px rgba(255,150,44,0); }
}

@keyframes imgrotate{
	0%{ transform: rotate(0deg); }
	100%{ transform: rotate(360deg); }
}
.navbar-default .navbar-nav > .active > a{
	color:#fff;
}
.navbar-default .navbar-nav > .active > a:hover{
	color:#c2c4c7;
}
.navbar-default .navbar-nav > li > a{
	color:#fff;
}
.navbar-default .navbar-nav > li > a:hover{
	color:#c2c4c7;
}
.navbar-default .navbar-brand {
	display: block;
	padding-left: 5px;
	color:#fff;
	line-height: 48px;
}
.navbar-default .navbar-brand:hover{
	color:#fff;
}
.container > .main{
	margin:0 auto; top:30px; margin-bottom:30px; position:relative;
}
.kotaklogin{
	background: #343d46; 
	color:#c2c4c7; 
	box-shadow:0px 0px 13px rgba(0,0,0,0.8); 
	margin:0 auto;
	margin-top:20px; 
	width:350px; 
	max-width:80%; 
	padding:10px;
}

.kotaklogin > .kepala{
	padding:20px; 
	padding-bottom:10px;
}

.kotaklogin > .kepala > .judul{
	margin-top:25px; text-align:center; color:#c2c4c7; font-size:20px;
}

.inputbx{
	padding:14px;
}

.tombol{
	width:100%; padding:10px; background:#0e83cd; color:#fff; border:solid thin #0e83cd; font-size:18px;
	transition: all 0.2s linear;
}

.tombol:hover{
	background: rgba(14,131,205,0.2); color:#0e83cd;
	box-shadow:0px 0px 6px rgba(14,131,205,0.8); 
	transition: all 0.2s linear;
}

.form-control{
	background:transparent; border-radius:0px; color:#c2c4c7;
}

.kotaklogin > .footer{
	padding:14px; padding-top:16px; padding-bottom:14px;
}

.box-shdw{
	box-shadow:0px 0px 13px rgba(0,0,0,0.8); 
}

.err{
	text-align:center; background:#ff4c4c; padding:10px;
}

.err:hover{
	cursor:pointer;
}