@import 'https://fonts.googleapis.com/css?family=Roboto:300';

body{
	height: 100%;
	background: #242a31;
	color:#fff;
	font-family:'Roboto', sans-serif;
  	overflow-y: hidden;
}
.navbar{
	background: #343d46; 
	box-shadow:0px 0px 13px rgba(0,0,0,0.8); 
	border-bottom:none;
}

.imgicn{
	width:34px;
	height: 34px;
	animation-name: imgeff;
	animation-iteration-count: infinite;
    animation-timing-function: ease-out;
	animation-duration: 1.5s;
}

.profimg{
	border:solid 2px #fff;
    transition: all 1.5s linear;
}

.profimg:hover{
	animation-name: imgrotate;
	animation-iteration-count: 1;
	animation-duration: 1.5s;
}
.mnu-btn a{
	padding-top:4px;
}
.navbar-brand>div:hover{
	background: transparent;
	padding:3px;
       transition: all 0.4s linear;
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

@keyframes imgeff{
	0%{ box-shadow:0 0 0 0 #0079ff; }
	100%{ box-shadow:0 0 0 7px rgba(255,150,44,0); }
}

@keyframes imgrotate{
	0%{ transform: rotate(0deg); }
	100%{ transform: rotate(360deg); }
}
.navbar-default .navbar-nav > .active > a{
	color:#fff;
}
.navbar-default .navbar-nav > .active > a:hover{
	color:#c2c4c7;
}
.navbar-default .navbar-nav > li > a{
	color:#fff;
}
.navbar-default .navbar-nav > li > a:hover{
	color:#c2c4c7;
}
.navbar-default .navbar-brand {
	display: block;
	padding-left: 5px;
	color:#fff;
	line-height: 48px;
}
.navbar-default .navbar-brand:hover{
	color:#fff;
}
.container > .main{
	margin:0 auto; top:30px; margin-bottom:30px; position:relative;
}
.kotaklogin{
	background: #343d46; 
	color:#c2c4c7; 
	box-shadow:0px 0px 13px rgba(0,0,0,0.8); 
	margin:0 auto;
	margin-top:20px; 
	width:350px; 
	max-width:80%; 
	padding:10px;
}

.kotaklogin > .kepala{
	padding:20px; 
	padding-bottom:10px;
}

.kotaklogin > .kepala > .judul{
	margin-top:25px; text-align:center; color:#c2c4c7; font-size:20px;
}

.inputbx{
	padding:14px;
}

.tombol{
	width:100%; padding:10px; background:#0e83cd; color:#fff; border:solid thin #0e83cd; font-size:18px;
	transition: all 0.2s linear;
}

.tombol:hover{
	background: rgba(14,131,205,0.2); color:#0e83cd;
	box-shadow:0px 0px 6px rgba(14,131,205,0.8); 
	transition: all 0.2s linear;
}

.form-control{
	background:transparent; border-radius:0px; color:#c2c4c7;
}

.kotaklogin > .footer{
	padding:14px; padding-top:16px; padding-bottom:14px;
}

.box-shdw{
	box-shadow:0px 0px 13px rgba(0,0,0,0.8); 
}

.err{
	text-align:center; background:#ff4c4c; padding:10px;
}

.err:hover{
	cursor:pointer;
}

.bagheader{
	background:#181c1f; padding:20px; padding-top:8px;
}

.bagheader > h2{
	text-shadow:0px 0px 5px #3e9bd7;
}
		
.posting .nav-pills > li > a {
  padding: 7px 12px;
  margin-right: 2px;
  transition: all 0.2s linear;
  border-radius: 0px;
}
.posting .nav-pills{
	margin-bottom:10px
}
.posting .nav-pills ul{
	background: #0e83cd;
  	transition: all 0.2s linear;
}
.posting .nav-pills li a{
	color: #343d46;
	background: #fcfcfc;
  	transition: all 0.2s linear;
}

.posting .nav-pills li a:hover{
	color: #fcfcfc;
	background: #0e83cd;
  	transition: all 0.2s linear;
}

.posting .nav-pills li.active > a{
	color: #fcfcfc;
	background: #0e83cd;
  	transition: all 0.2s linear;
}

.posting .nav-pills li > a.allpost{
	color: #fcfcfc;
	background:#0e83cd;
	border:solid thin #0e83cd;
  	transition: all 0.2s linear;
}

.posting .nav-pills li > a.published{
	color: #fcfcfc;
	background:#7ab755;
	border:solid thin #7ab755;
  	transition: all 0.2s linear;
}
.posting .nav-pills li > a.unpublished{
	color: #fcfcfc;
	background:#cc5858;
	border:solid thin #cc5858;
  	transition: all 0.2s linear;
}

.posting .nav-pills li.active > a.allpost{
	color: #fcfcfc;
	border:solid thin #0c75b8;
	background:#095b8f;
  	transition: all 0.2s linear;
}

.posting .nav-pills li.active > a.published{
	color: #fcfcfc;
	border:solid thin #7ab755;
	background:#55803b;
  	transition: all 0.2s linear;
}
.posting .nav-pills li.active > a.unpublished{
	color: #fcfcfc;
	border:solid thin #cc5858;
	background:#803737;
  	transition: all 0.2s linear;
}

.posting .nav-pills li a.allpost:hover{
	color: #fcfcfc;
	background:#0c75b8;
  	transition: all 0.2s linear;
}

.posting .nav-pills li a.published:hover{
	color: #fcfcfc;
	background:#6da44c;
  	transition: all 0.2s linear;
}
.posting .nav-pills li a.unpublished:hover{
	color: #fcfcfc;
	background:#b74f4f;
  	transition: all 0.2s linear;
}
.posting{
	padding-bottom:20px; background: #343d46; margin-top:13px; margin-bottom:12px;
}
.posting > div.header{
	background:rgba(0,0,0,0.1); padding-top: 20px;
}
.posting > div.footer{
	padding-top: 10px;
}
.posting > div.footer > div > .num{
	padding:5px; padding-top:6px; padding-left:10px; padding-right:10px; color:#fff;
}
.posting > div.footer > div > .num.biru{
	background:rgba(14,131,205,1); 
	border:solid thin rgba(14,131,205,1);
  	transition: all 0.2s linear;
}
.posting > div.footer > div > .num.biru:hover{
	background:rgba(14,131,205,0.1);
	color:rgba(14,131,205,1);
  	transition: all 0.2s linear; 
}
.posting > div.footer > div > .num.hijau{
	background:rgba(122,183,85,1);
	border:solid thin rgba(122,183,85,1);
  	transition: all 0.2s linear;
}
.posting > div.footer > div > .num.hijau:hover{
	background:rgba(122,183,85,0.1);
	color:rgba(122,183,85,1);
  	transition: all 0.2s linear;
}
.posting > div.footer > div > .num.merah{
	background:rgba(204,88,88,1);
	border:solid thin rgba(204,88,88,1);
  	transition: all 0.2s linear;
}
.posting > div.footer > div > .num.merah:hover{
	background:rgba(204,88,88,0.1);
	color:rgba(204,88,88,1);
  	transition: all 0.2s linear;
}
.posting .table{
	font-size:14px; text-align:center; 
}
.posting .table > thead{
	background:rgba(0,0,0,0.1);
}
.posting .table > thead > tr{
	border-bottom:solid thin rgba(255,255,255,0.1);
}
.posting .table > tbody{
	border-bottom:solid 2px rgba(255,255,255,0.1);
}
.posting .table > tbody > tr{
  	transition: all 0.2s linear;
}
.posting .table > tbody > tr.published{
	border-left:solid 3px rgba(122,183,85,1);
}
.posting .table > tbody > tr.unpublished{
	border-left:solid 3px rgba(204,88,88,1);
}
.posting .table > tbody > tr.published:hover{
	background:rgba(122,183,85,0.3);
  	transition: all 0.2s linear;
}
.posting .table > tbody > tr.unpublished:hover{
	background:rgba(204,88,88,0.3);
  	transition: all 0.2s linear;
}
.posting .table > tbody > tr > td{
	border-bottom:solid thin rgba(255,255,255,0.1);
}
.posting .table > tbody > tr > td{
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: none;
}

.posting .opsi{
	cursor: pointer;
}
.posting .opsi:hover{
	animation-name: txteff;
	animation-iteration-count: infinite;
    animation-timing-function: ease-out;
	animation-duration: 1.5s;
}
.posting .opsi.merah{
	color:#ff6f6f;
}
.posting .opsi.hijau{
	color:#aaff77;
}
.posting .opsi.kuning{
	color:#ffe28a;
}
.posting .opsi.ungu{
	color:#b493a5;
}

@keyframes txteff{
	0%{ text-shadow:0px 0px 0px #ffffff; }
	100%{ text-shadow:0px 0px 25px rgba(255,150,44,0); }
}

.stat{
	 padding:0; margin-bottom:12px;
}
.stat.biru{
	background: #0e83cd;
	border-right: dotted 4px #0b68a4;
}
.stat.hijau{
	background: #7AB755;
	border-right: dotted 4px #619244;
}
.stat.merah{
	background: #CC5858;
	border-right: dotted 4px #a34646;
}
.stat.hijaumd{
	background: #6fcb9f;
	border-right: dotted 4px #58a27f;
}
.stat.birumd{
	background: #6eb4e1;
	border-right: dotted 4px #5890b4;
}
.stat.merahmd{
	background: #d67979;
	border-right: dotted 4px #ab6060;
}
.stat > div{
	display:inline-block; height:100px; width:100%; text-align: center; color:#fff;
}
.stat > div > h1{
	line-height: 35px;
}

.pagination{
	margin-top:0;
}
.pagination > li.active > a{
	background:rgba(204,88,88,0.7);
	border:solid thin rgba(255,255,255,0.1);
}
.pagination > li.active:hover > a{
	background:rgba(204,88,88,0.7);
	border:solid thin rgba(255,255,255,0.1);
}
.pagination > li > a{
	background:rgba(14,131,205,0.7);
	color: #fff;
	border:solid thin rgba(255,255,255,0.1);
  	transition: all 0.2s linear;
}
.pagination > li:hover > a{
	background:rgba(14,131,205,0.4);
	color: #fff;
	border:solid thin rgba(255,255,255,0.1);
  	transition: all 0.2s linear;
}
.pagination > li:first-child > a, .pagination > li:first-child > span{
	background:rgba(0,0,0,0.1);
	border-radius: 0px;
	border:solid thin rgba(255,255,255,0.1);
}

.pagination > li:last-child > a, .pagination > li:last-child > span{
	border-radius: 0px;
}

.pagination > li.disabled > a{
	background:rgba(122,183,85,0.7);
	color:#fff;
	border:solid thin rgba(255,255,255,0.1);
}
.pagination > li.disabled:hover > a{
	background:rgba(122,183,85,0.7);
	color:#fff;
	border:solid thin rgba(255,255,255,0.1);
}