			body{
  				position: relative;
  				height: 100%;
			}
			@-moz-keyframes HeaderColoring {
			    50% {
					background-color: #eee;
			    }
			}
			@-webkit-keyframes HeaderColoring{
				50%{
					background-color: #eee;
				}
			}
			@keyframes HeaderColoring{
				50%{
					transform: translateY(0);
					background-color: #eee;
				}
			}

			@-webkit-keyframes dropEffect{
				0%{
					-webkit-transform: translateY(-100%);
				}
				100%{
					-webkit-transform: translateY(0%);
				}
			}

			@-moz-keyframes dropEffect{
				0%{
					-moz-transform: translateY(-100%);
				}
				100%{
					-moz-transform: translateY(0%);
				}
			}

			@keyframes dropEffect{
				0%{
					transform: translateY(-100%);
				}
				100%{
					transform: translateY(0%);
				}
			}
			.navbar-brand {
				padding: 0px; /* firefox bug fix */
				padding-top: 1px;
        		margin-right: -120px;
				display: none;
			}
			.navbar-brand>img {
			 	height: 100%;
			 	padding: 5px; /* firefox bug fix */
			 	width: auto;
			 	display: none;
        		-webkit-filter:grayscale(0%);
        		-moz-filter:grayscale(0%); 
        		filter:grayscale(0%);
        		-moz-transition: all 0.2s linear;
        		-webkit-transition: all 0.2s linear;
        		transition: all 0.2s linear;
			}
			.navbar-brand>div{
				background: transparent;
				padding:3px;
				border-radius: 100%;
				position: relative;
        		transition: all 0.4s linear;
				display: inline-block;
			}

			.navbar-brand>div:hover{
				background: #3e9bd7;
				padding:3px;
        		transition: all 0.4s linear;
    			-moz-transform: rotate(180deg);
    			-webkit-transform: rotate(180deg);
			}

			.navbar-brand>div:hover img{
        		-webkit-filter:grayscale(80%);
        		-moz-filter:grayscale(80%); 
        		filter:grayscale(80%);
        		-moz-transition: all 0.2s linear;
        		-webkit-transition: all 0.2s linear;
        		transition: all 0.2s linear;
        	}

			.navbar-default{
				border-left: none;
				border-right: none;
        	 	border-bottom:solid 2px #0e83cd;
        	}
			.navbar-default .navbar-brand{
        		color:#0e83cd;
			}
			.navbar-default .navbar-brand:hover{
        		color:#0e83cd;
			}
			.headtop{
				background-color: #F8F8F8;
				padding-top: 6px;
				padding-bottom: 6px;
				text-align: center;
				-moz-animation-name:HeaderColoring;
			    -moz-animation-iteration-count: 1;
			    -moz-animation-timing-function: ease-out;
			    -moz-animation-duration: 0.6s;

				-webkit-animation-name:HeaderColoring;
				-webkit-animation-iteration-count: 1;
				-webkit-animation-timing-function: ease-out;
				-webkit-animation-duration: 0.6s;

				animation-name:HeaderColoring;
				animation-iteration-count: 1;
				animation-timing-function: ease-out;
				animation-duration: 0.6s;
			}
			.headicon{
				font-size:28px; color:#0e83cd;
			}
			.headicon div{
				background: transparent;
				padding:3px;
				border-radius: 100%;
				position: relative;
        		transition: all 0.4s linear;
			}
			.imgicn{
				width:44px;
				height: 44px;
        		-webkit-filter:grayscale(0%);
        		-moz-filter:grayscale(0%); 
        		filter:grayscale(0%);
        		-moz-transition: all 0.2s linear;
        		-webkit-transition: all 0.2s linear;
        		transition: all 0.2s linear;
        		animation-name: imgeff;
        		animation-iteration-count: infinite;
        		animation-duration: 1.5s;
			}
			@keyframes imgeff{
				0%{ box-shadow:0 0 0 0 #0079ff; }
				100%{ box-shadow:0 0 0 7px rgba(255,150,44,0); }
			}
			.headicon div:hover{
        		transition: all 0.4s linear;
    			-moz-transform: rotate(180deg);
    			-webkit-transform: rotate(180deg);
			}
			.headicon div:hover .imgicn{
        		-webkit-filter:grayscale(80%);
        		-moz-filter:grayscale(80%); 
        		filter:grayscale(80%);
        		-moz-transition: all 0.2s linear;
        		-webkit-transition: all 0.2s linear;
        		transition: all 0.2s linear;
        	}
			.someicon{
				font-size:30px; color:#0e83cd;
				text-align:center;
			}
			.someicon .imgicn{
				width:100px;
				height: 100px;
				animation-name:icneff;
				animation-iteration-count: infinite;
				animation-duration: 1.5s;
			}
			.someicon div{
				background: transparent;
				border-radius: 100%;
				position: relative;
			}

			@keyframes icneff{
				0%  {box-shadow:0 0 0 0 #0079ff}
				100%{box-shadow:0 0 0 15px rgba(255,150,44,0)}
			}
			.someicon div .imgicn{
        		-moz-transition: all 0.4s linear;
        		-webkit-transition: all 0.4s linear;
        		transition: all 0.4s linear;
        	}
			.someicon div:hover .imgicn{
        		-webkit-filter:grayscale(80%);
        		-moz-filter:grayscale(80%); 
        		filter:grayscale(80%);
        		-moz-transition: all 0.4s linear;
        		-webkit-transition: all 0.4s linear;
        		transition: all 0.4s linear;
        		transform: rotate(180deg);
        	}
			.navbar{
				margin-bottom:0px;
				z-index: 100;
				border-radius: 0;
			}
			.navbar .navbar-nav {
				display: inline-block;
				float: none;
			}

			.navbar .navbar-nav li:after {
			  display:block;
			  content: '';
			  border-bottom: solid 3px #6eb4e1;  
			  transform: scaleX(0.0001);  
			  transition: transform 250ms ease-in-out;
			}

			.navbar .navbar-collapse {
				text-align: center;
			}
			.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
				background-color: inherit;
				margin-bottom: -3px;
				border-bottom: solid 3px #0e83cd;
			}
			.jumbotron{
				padding-top: 100px;
				padding-bottom: 120px;
				background-color: #000;
				background: url("../img/headers3.jpg") no-repeat;
    			background-size: cover;
    			background-position: center center;  
        		-webkit-filter:opacity(75%);
        		-moz-filter:opacity(75%); 
        		filter:opacity(75%);
        		-moz-transition: all 0.2s linear;
        		-webkit-transition: all 0.2s linear;
        		transition: all 0.2s linear;
				text-align: center;
				letter-spacing: 3px;
				text-shadow: 0px 0px 8px #000;
				color:#fff;
			}
			.jumbotron::after{
				background: url("../img/flg.png") no-repeat;
				position:relative;
				z-index: 2;
			}
			.jumbotron p{
    			font-size: 52px;
				margin-bottom:0;
				padding:0;
			}
			.jumbotron span{
				font-size:18px;
				margin:0;
				padding:0;
			}
			.jumbotron span.arab{
				font-size:24px;
				letter-spacing: 0px;
			}
			@media screen and (max-width: 767px) {
				.jumbotron p{
					font-size:22px;
				}
				.jumbotron span{
					font-size:14px;
				}
				.jumbotron span.arab{
					font-size:20px;
				}
			}
			.jumbotron:hover{
        		-webkit-filter:opacity(100%);
        		-moz-filter:opacity(100%);
        		filter:opacity(100%);
        		-moz-transition: all 0.2s linear;
        		-webkit-transition: all 0.2s linear;
        		transition: all 0.2s linear;

			}
			.affix {
			    top: 0;
			    width: 100%;
			 }
			 .affix.navbar{
			 	box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
				-webkit-animation-name:dropEffect;
				-webkit-animation-iteration-count: 1;
				-webkit-animation-timing-function: ease-out;
				-webkit-animation-duration: 0.6s;

				-moz-animation-name:dropEffect;
				-moz-animation-iteration-count: 1;
				-moz-animation-timing-function: ease-out;
				-moz-animation-duration: 0.6s;

				animation-name:dropEffect;
				animation-iteration-count: 1;
				animation-timing-function: ease-out;
				animation-duration: 0.6s;
			 }
			 .affix .navbar-brand>img {
			    display: inline-block;
			}
			 .affix .navbar-brand {
			    display: inline-block;
			}
			.profile-image{
				width:150px; height:150px; border-radius:100%; border:solid 3px #cecece; top:-110; position:relative; 
				text-align:center; 
				background-size: cover;
				background-repeat: no-repeat;
				margin:0 auto;
		     	display:block; 
		     	overflow:hidden;
				z-index: 50;
        		-moz-animation-name : imageEffect;
        		-moz-animation-iteration-count: 1;
        		-moz-animation-timing-function: ease-out;
        		-moz-animation-duration: 0.8s;

        		-webkit-animation-name : imageEffect;
        		-webkit-animation-iteration-count: 1;
        		-webkit-animation-timing-function: ease-out;
        		-webkit-animation-duration: 0.8s;

        		animation-name : imageEffect;
        		animation-iteration-count: 1;
        		animation-timing-function: ease-out;
        		animation-duration: 0.8s;
			}
			.profile-image:hover{
				animation: imageEffect 1s;
			}
			@-moz-keyframes imageEffect{
				0%{
					width:0px;
					height:0px;
				}
				100%{
					width:150px;
					height:150px;
    				-moz-transform: rotate(360deg);
				}
			}
			@-webkit-keyframes imageEffect{
				0%{
					width:0px;
					height:0px;
				}
				100%{
					width:150px;
					height:150px;
    				-webkit-transform: rotate(360deg);
				}
			}
			@keyframes imageEffect{
				0%{
					width:0px;
					height:0px;
				}
				100%{
					width:150px;
					height:150px;
    				transform: rotate(360deg);
				}
			}
			.profile-spacer{
				 top:-180; 
				 padding-top:58px;
				 padding-bottom: 0px;
				 position:relative;
				 background-color: #e5e5e5;
				 text-align: center;
				 margin-bottom: -180;
				 border-left: solid 8px #cecece;
				 border-right: solid 8px #cecece;
			}
			.profile-spacer::after{
				width: 0;
				height: 0;
				border-left: 30px solid transparent;
				border-right: 30px solid transparent;
				border-top: 30px solid #e5e5e5; 
				-moz-transform: scale(.9999);
				position: relative;
    			content: "";
    			z-index: 2;
    			top: 47;
			}
			.profile-add{
				padding:0;
				margin:0;
				margin-bottom: -20;
			}
			.profile-add > h5{
				padding:0;
				margin:0;
			}
			.profile-add::after{
				width: 0;
				height: 0;
				border-left: 35px solid transparent;
				border-right: 35px solid transparent;
				border-top: 35px solid #398564; 
				-moz-transform: scale(.9999);
				position: relative;
    			content: "";
    			z-index: 2;
    			top: 57;
			}
			.con-body{
				 position:relative;
				 padding:0;
			}
			.section-1{
				 background-color:#49ab81;
				 font-size: 16px;
				 color: #fff;
				 text-align: center;
				 border-top: solid 8px #398564;
			}
			.section-1 p{
				text-align: justify;
			}
			.section-1::after{
				width: 0;
				height: 0;
				border-left: 30px solid transparent;
				border-right: 30px solid transparent;
				border-top: 30px solid #49ab81; 
				-moz-transform: scale(.9999);
				position: relative;
    			content: "";
    			z-index: 3;
    			top: 47;
			}
			.section-2{
				border-top: solid 8px #32615d;
				background-color:#468882;
				font-size: 16px;
				color:#fff;
				text-align: center;
			}
			.section-2 p{
				text-align: justify;
			}
			.section-2 .head-lines{
				margin-bottom:55px;
			}
			.section-2 .head-lines::after{
				background:#468882;
			}
			.section-2::before{
				width: 0;
				height: 0;
				border-left: 35px solid transparent;
				border-right: 35px solid transparent;
				border-top: 35px solid #32615d; 
				-moz-transform: scale(.9999);
				position: relative;
    			content: "";
    			z-index: 2;
    			top: 27;
			}
			.section-2::after{
				width: 0;
				height: 0;
				border-left: 30px solid transparent;
				border-right: 30px solid transparent;
				border-top: 30px solid #468882; 
				-moz-transform: scale(.9999);
				position: relative;
    			content: "";
    			z-index: 3;
    			top: 47;
			}
			.section-3{
				border-top: solid 8px #b0625b;
				background-color:#dc7b72;
				font-size: 16px;
				text-align: center;
			}
			.section-3 p{
				text-align: justify;
				color: #fff;
			}
			.section-3 h1{
				text-align: center;
				color: #fff;
			}
			.section-3 .btn{
				background:#fff; color:#dc7b72;
				text-align:center;
				font-size:18px; font-weight: bold;
				transition: 0.4s ease-in;
				border:solid 2px #fff;
				border-radius: 0;
			}
			.section-3 .btn:hover{
				background:transparent; color:#fff;
				cursor: pointer;
				transition: 0.4s ease-in;
				border:solid 2px #fff;
			}
			.section-3 .head-lines::after{
				background:#dc7b72;
			}
			.section-3::before{
				width: 0;
				height: 0;
				border-left: 35px solid transparent;
				border-right: 35px solid transparent;
				border-top: 35px solid #b0625b; 
				-moz-transform: scale(.9999);
				position: relative;
    			content: "";
    			z-index: 2;
    			top: 27;
			}
			.section-3::after{
				width: 0;
				height: 0;
				border-left: 30px solid transparent;
				border-right: 30px solid transparent;
				border-top: 30px solid #dc7b72; 
				-moz-transform: scale(.9999);
				position: relative;
    			content: "";
    			z-index: 3;
    			top: 47;
			}
			.section-3 .blgpct{
				background:#fff; border:solid thin #fff; text-align:center; padding:5px;
			}
			.section-3 .blgpct::after{
				top:-8;
				left:13;
				display: inline-block;
				width:6px;
				height:115%;
				background-color: #fff;
				position: absolute;
				z-index: 1;
				content:"";
			}
			.section-4{
				border-top: solid 8px #1780a9;
				background-color:#1ea4d9;
				font-size: 16px;
				text-align: center;
			}
			.section-4 p{
				text-align: justify;
				color: #fff;
			}
			.section-4 h1{
				text-align: center;
				color: #fff;
			}
			.section-4 .head-lines::after{
				background:#1ea4d9;
			}
			.section-4::before{
				width: 0;
				height: 0;
				border-left: 35px solid transparent;
				border-right: 35px solid transparent;
				border-top: 35px solid #1780a9; 
				-moz-transform: scale(.9999);
				position: relative;
    			content: "";
    			z-index: 2;
    			top: 27;
			}
			.row.edit{
				margin-top:40px; padding-bottom:0px;
			}
			.icon{
				background:#83d0c9; display:table; padding:10px; width:100px; height:100px; line-height:60px; font-size:28px;
				margin:0 auto;
				position: relative;
				top: -30;
				margin-bottom: -30;
        		-moz-transition: all 0.5s linear;
        		-webkit-transition: all 0.5s linear;
        		transition: all 0.5s linear;
			}
			.icon:hover{
				-moz-transform: rotate(360deg);
				-webkit-transform: rotate(360deg);
				transform: rotate(360deg);
        		-moz-transition: all 0.5s linear;
        		-webkit-transition: all 0.5s linear;
        		transition: all 0.5s linear;
			}
			.icon span{
				display:table-cell; vertical-align:middle;
			}
			.head-lines{
				width:280px; border:solid 1px #fff;
			}
			.head-lines::after{
				top:-10;
				margin-bottom: 10px;
				padding-top:2px;
				padding-bottom:2px;
				padding-right:8px;
				padding-left:8px;
				background: #49ab81;
				border: solid 2px #fff; 
				position: relative;
    			content: ".";
    			color: transparent;
    			z-index: 3;
				-moz-transform: scale(.9999);
				-webkit-transform: scale(.9999);
			}
			.social-button{
				background:#fff; color:#1ea4d9; height:50px; line-height: 50px; 
				width:50px; display:inline-block; text-align:center;
				font-size:18px; font-weight: bold;
				transition: 0.4s ease-in;
				border:solid 2px #fff;
			}
			.social-button:hover{
				background:transparent; color:#fff;
				cursor: pointer;
				transition: 0.4s ease-in;
				border:solid 2px #fff;
			}
			.section-footer{
				padding:10px; background:#323232; color:#fff; text-align:center; border-top:solid 4px #191919;
			}
			.txtblg{
				font-size:43px; 
				color: #dc7b72; 
    			text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
    			position: relative;
    			z-index: 2;
			}
			.txtblg::before{
				top:-4;
				left:13;
				display: inline-block;
				width:2px;
				height:55px;
				background-color: #dc7b72;
				position: absolute;
				z-index: -1;
				content:"";
				transform: rotate(-60deg);
			}
			.loader {
				display: flex;
				justify-content: center;
				position: fixed;
				left: 0px;
				top: 0px;
				width: 100%;
				height: 100%;
				z-index: 99999;
				background: #343d46;
				vertical-align: middle;
			}
			.loader > div{
				align-self: center;
			}