{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<title>Tuan Abdul Admin | Login</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
		<link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
		<link rel="stylesheet" href="{% static 'css/main.css' %}">
		<link rel="stylesheet" href="{% static 'css/adm.css' %}">
		<link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
		<link rel="shortcut icon" href="{%  static 'img/flg.png' %}">
		<script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/main.js' %}"></script>
		<script>
		</script>
		<style>
		</style>
	</head>
<body>
	<div class="loader"></div>
	{% if form.errors %}
	<div class="err">Username atau password anda salah!</div>
	{% endif %}
	<div class="container">
		<div class="main">
			  <div class="kotaklogin">
			  	<div class="kepala">
					<div class="someicon">
						<div style="display:inline-block;"><img src="{% static 'img/flg.png' %}" class="img-circle imgicn"></div>
					</div>
					<div class="judul">Login Tuan Abdul</div>
				</div>
			  	<div class="body">
			  	<form method="post" action="{% url 'login_adm' %}">
			  	{% csrf_token %}
			  		<div class="inputbx">
			  			<div class="input-group">
							<span class="input-group-addon" id="sizing-addon2" style="border-radius:0px;"><span class="glyphicon glyphicon-user"></span></span>
							<input type="text" name="username" class="form-control" placeholder="Username anda ..." aria-describedby="sizing-addon2" required>
						</div>
					</div>
			  		<div class="inputbx">
			  			<div class="input-group">
							<span class="input-group-addon" id="sizing-addon2" style="border-radius:0px"><span class="glyphicon glyphicon-lock"></span></span>
							<input type="password" name="password" class="form-control" placeholder="Password anda ..." aria-describedby="sizing-addon2" required>
						</div>
					</div>
			  		<div class="inputbx"><input type="submit" value="Masuk" class="tombol"></div>
			  		<div style="padding:14px; padding-top: 0px; text-align:center;"><span class="glyphicon glyphicon-lock"></span> Lupa Password ?</div>
			  	</form>
			  	</div>
			  	<div class="footer">
			  		<div>Copyright © 2016 Tuan Abdul</div>
			  	</div>
			  </div>
		</div>
	</div>
</body>
</html>