{% extends 'mainweb/adm_blog.html' %}
{% load staticfiles %}

{% block title %}
Blog Post Edit
{% endblock %}
{% block breadcrumbs %}
    {{ block.super }} » <a href="{{ request.path }}">Edit</a>
{% endblock %}
{% block statistik %}{% endblock %}
{% block pgcontent %}
	<div class="row">
		<div class="col-lg-3">
			<h3>Author Postingan</h3>
			<div class="box-shdw posting" style="padding-top:20px; border-left:solid 3px #0e83cd; text-align:center;">
				<div style="padding:10px;"><img src="{% static 'img/cat.jpg' %}" style="width:120px; height:120px;" class="img-circle profimg"></div>
				<div style=""><h4>Muhammad Fahmy</h4></div>
			</div>
		</div>
		<div class="col-lg-9">
			<h3>Edit Postingan</h3>
			<div class="box-shdw posting" style="padding-top:20px; border-left:solid 3px #0e83cd;">
				<div class="container-fluid">
				    <form method="POST" class="post-form">{% csrf_token %}
						<div class="form-group">
						    <label for="{{ form.title.id_for_label }}">Title:</label>
						    <input type="text" name="{{ form.title.name }}" class="form-control" value="{{ form.title.value }}" required>
						    <span class="text-danger" style="color:#d67979;">{{ form.non_field_errors }}</span>
						</div>
						<div class="form-group">
						    <label for="{{ form.created_date.id_for_label }}">Created Date:</label>
						    <span style="display:block;">{{ form.created_date.value }}</span>
						</div>
						<div class="form-group">
						    <label for="{{ form.published_date.id_for_label }}">Status Publikasi:</label>
						    {% if not form.published_date.value %}
						    <span style="display:block;">Belum Dipublikasi </span>
						    {% else %}
						    <span style="display:block;">Dipublikasi {{ form.published_date.value }}</span>
						    {% endif%}
						</div>
						<div class="form-group">
						    <label for="{{ form.text.id_for_label }}">Text:</label>
						    <textarea class="form-control" rows="10" name="{{ form.text.name }}" style="resize: none;">{{ form.text.value }}</textarea>
						    <span class="text-danger" style="color:#d67979;">{{ form.text.errors }}</span>
						</div>
				        <input name="Save" type="submit" value="Save" class="save btn btn-default">
				        <input name="Publikasi" type="submit" value="Save dan Publikasi" class="save btn btn-default">
				    </form>
			    </div>
		    </div>
	    </div>
    </div>
{% endblock %}