{% extends 'mainweb/base.html' %}
{% load staticfiles %}
{% block sidebar %}
                <li>
                    <a href="/adm/blog" class="{% if request.path == '/adm/blog/' %}active{% endif %}"><span class="glyphicon glyphicon-dashboard"></span> <span>Postingan</span></a>
                </li>
                <li>
                    <a href="#" class="{% if request.path == '/adm/blog/kategori/' %}active{% endif %}"><span class="glyphicon glyphicon-th-list"></span> <span>Kategori</span></a>
                </li>
                <li>
                    <a href="#" class="{% if request.path == '/adm/blog/komentar/' %}active{% endif %}"><span class="glyphicon glyphicon-comment"></span> <span>Komentar</span></a>
                </li>
                <li>
                    <a href="user" class="{% if request.path == '/adm/blog/user/' %}active{% endif %}"><span class="glyphicon glyphicon-user"></span> <span>User</span></a>
                </li>
                <li>
                    <a href="#" class="{% if request.path == '/adm/blog/administrator/' %}active{% endif %}"><span class="glyphicon glyphicon-star"></span> <span>Administrator</span></a>
                </li>
                <li>
                    <a href="#" class="{% if request.path == '/adm/blog/settings/' %}active{% endif %}"><span class="glyphicon glyphicon-cog"></span> <span>Settings</span></a>
                </li>
{% endblock %}
{% block pgcontent %}
		                <div class="row">
		                    <div class="col-lg-9">
		                		<div class="row">
		                    	<div class="col-lg-6">
				                    <div class="box-shdw" style="padding:10px; padding-left:15px; padding-right:15px; background: #343d46; margin-bottom:12px;">
				                    	<h2>Blog</h2>
				                        <p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.</p>
				                        <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>
				                    </div>
				                </div>
		                    	<div class="col-lg-6">
				                    <div class="box-shdw" style="padding:10px; padding-left:15px; padding-right:15px; background: #343d46; margin-bottom:12px;">
				                    	<h2>Blog</h2>
				                        <p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.</p>
				                        <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>
				                    </div>
				                </div>
			                    </div>
			                    <div class="box-shdw" style="padding:10px; padding-left:15px; padding-right:15px; background: #343d46; margin-bottom:12px;">
			                    	<h2>Blog</h2>
			                        <p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.</p>
			                        <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>
			                    </div>
			                    <div class="box-shdw" style="padding:10px; padding-left:15px; padding-right:15px; background: #343d46; margin-bottom:12px;">
			                    	<h2>Blog</h2>
			                        <p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.</p>
			                        <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>
			                    </div>
		                    </div>
		                    <div class="col-lg-3">
			                    <div class="box-shdw" style="padding:10px; padding-left:15px; padding-right:15px; background: #343d46; margin-bottom:12px;">
			                    	<h2>Blog</h2>
			                        <p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.</p>
			                        <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>
			                    </div>
		                    </div>
		                </div>
{% endblock %}