{% extends 'mainweb/base.html' %}
{% load staticfiles %}
{% block title %}
Blog Post
{% endblock %}
{% block breadcrumbs %}
    {{ block.super }} » <a href="{% url 'adm_blog_post' %}">Blog</a>
{% endblock %}
{% block sidebar %}
                <li>
                    <a href="/adm/blog/post" class="{% if '/adm/blog/post/' in request.path %}active{% endif %}"><span class="glyphicon glyphicon-file"></span> <span>Postingan</span><span class="badge">{{ totposts }}</span></a>
                </li>
                <li>
                    <a href="#" class="{% if '/adm/blog/kategori/' in request.path %}active{% endif %}"><span class="glyphicon glyphicon-th-list"></span> <span>Kategori</span></a>
                </li>
                <li>
                    <a href="#" class="{% if '/adm/blog/komentar/' in request.path %}active{% endif %}"><span class="glyphicon glyphicon-comment"></span> <span>Komentar</span></a>
                </li>
                <li>
                    <a href="/adm/blog/user" class="{% if '/adm/blog/user/' in request.path %}active{% endif %}"><span class="glyphicon glyphicon-user"></span> <span>User</span></a>
                </li>
                <li>
                    <a href="#" class="{% if '/adm/blog/administrator/' in request.path %}active{% endif %}"><span class="glyphicon glyphicon-star"></span> <span>Administrator</span></a>
                </li>
                <li>
                    <a href="#" class="{% if '/adm/blog/settings/' in request.path %}active{% endif %}"><span class="glyphicon glyphicon-cog"></span> <span>Settings</span></a>
                </li>
{% endblock %}
{% block pgtitle %}
				<div class="bagheader">
				{% if '/adm/blog/post/' in request.path  %}
				<h2><span class="glyphicon glyphicon-file"></span> Postingan</h2>
				{% elif '/adm/blog/kategori/' in request.path %}
				<h2><span class="glyphicon glyphicon-th-list"></span> Kategori</h2>
				{% elif '/adm/blog/komentar/' in request.path %}
				<h2><span class="glyphicon glyphicon-comment"></span> Komentar</h2>
				{% elif '/adm/blog/user/' in request.path %}
				<h2><span class="glyphicon glyphicon-user"></span> User</h2>
				{% elif '/adm/blog/administrator/' in request.path %}
				<h2 style="text-shadow:0px 0px 5px #3e9bd7;"><span class="glyphicon glyphicon-star"></span> Administrator</h2>
				{% elif '/adm/blog/settings/' in request.path %}
				<h2><span class="glyphicon glyphicon-cog"></span> Settings</h2>
				{% endif %}
				</div>
{% endblock %}
{% block statistik %}
	<div class="row">
	<div class="col-lg-12">
	<h3></h3>
		<div class="row">
	    	<div class="col-md-3 col-sm-6 col-xs-12">
	            <div class="stat">
	            	<div class="body">
	            	<div class="icn bg-biru"><span class="glyphicon glyphicon-list-alt"></span></div>
	            	<div class="txt"><span class="stat-judul">Postingan</span><span class="stat-isi">{{ totposts }}</span></div>
	            	</div>
	            </div>
	        </div>
	    	<div class="col-md-3 col-sm-6 col-xs-12">
	            <div class="stat">
	            	<div class="body">
	            	<div class="icn bg-hijau"><span class="glyphicon glyphicon-eye-open"></span></div>
	            	<div class="txt"><span class="stat-judul">Published</span><span class="stat-isi">{{ totpubs }}</span></div>
	            	</div>
	            </div>
	        </div>
	    	<div class="col-md-3 col-sm-6 col-xs-12">
	            <div class="stat">
	            	<div class="body">
	            	<div class="icn bg-merah"><span class="glyphicon glyphicon-eye-close"></span></div>
	            	<div class="txt"><span class="stat-judul">Unpublished</span><span class="stat-isi">{{ totunpubs }}</span></div>
	            	</div>
	            </div>
	        </div>
	    	<div class="col-md-3 col-sm-6 col-xs-12">
	            <div class="stat">
	            	<div class="body">
	            	<div class="icn bg-hijaumd"><span class="glyphicon glyphicon-comment"></span></div>
	            	<div class="txt"><span class="stat-judul">Komentar</span><span class="stat-isi">0</span></div>
	            	</div>
	            </div>
	        </div>
	    	<div class="col-md-3 col-sm-6 col-xs-12">
	            <div class="stat">
	            	<div class="body">
	            	<div class="icn bg-birumd"><span class="glyphicon glyphicon-thumbs-up"></span></div>
	            	<div class="txt"><span class="stat-judul">Suka</span><span class="stat-isi">0</span></div>
	            	</div>
	            </div>
	        </div>
	    	<div class="col-md-3 col-sm-6 col-xs-12">
	            <div class="stat">
	            	<div class="body">
	            	<div class="icn bg-merahmd"><span class="glyphicon glyphicon-heart"></span></div>
	            	<div class="txt"><span class="stat-judul">Favorite</span><span class="stat-isi">0</span></div>
	            	</div>
	            </div>
	        </div>
	    </div>
	</div>
	</div>
{% endblock %}
{% block pgcontent %}
	<div class="row">
	<div class="col-lg-12">
	<h3>Manage Postingan</h3>
	    	<ul class="nav nav-pills pills-admin">
	        	<li class="active"><a href="#" class="allpost"><span class="glyphicon glyphicon-list-alt"></span> All Posts</a></li>
	        	<li><a href="#" class="published"><span class="glyphicon glyphicon-eye-open"></span> Published</a></li>
	        	<li><a href="#" class="unpublished"><span class="glyphicon glyphicon-eye-close"></span> Unpublished</a></li>
	        	<li><a href="#">&nbsp;-&nbsp; </a></li>
	        	<li><a href="#" style="margin-left:2px; font-weight:bold;">&nbsp;+&nbsp;</a></li>
	        	<li><input type="text" class="form-control" placeholder="Search"></li>
	    	</ul>
	<div class="box-shdw posting">
		<div class="table-responsive">
		<table class="table" style="margin-bottom:0px;">
			<thead style="">
				<tr>
					<td>No</td>
					<td>Tanggal Pembuatan</td>
					<td>Judul</td>
					<td><span class="glyphicon glyphicon-user" data-toggle="tooltip" title="Pengarang"></span></td>
					<td>Kategori</td>
					<td><span class="glyphicon glyphicon-comment" data-toggle="tooltip" style="color:#6fcb9f;" title="Komentar"></span>
					</td>
					<td><span class="glyphicon glyphicon-thumbs-up" data-toggle="tooltip" style="color:#6eb4e1;" title="Suka"></span>
					</td>
					<td><span class="glyphicon glyphicon-heart" data-toggle="tooltip" style="color:#d67979;" title="Favorite"></span>
					</td>
					<td>Status</td>
					<td>Opsi</td>
				</tr>
			</thead>
			<tbody>
				{% for post in posts %}
				<tr class="{% if post.published_date %}published{% else %}unpublished{% endif %}">
	    			<td>{{ forloop.counter0|add:posts.start_index }}</td>
	    			<td>{{ post.created_date }}</td>
	    			<td>{{ post.title }}</td>
	    			<td>{% for user in users %}{% if post.author_id == user.id %} {{ user.username }} {% endif %} {% endfor %}</td>
	    			<td></td>
	    			<td><span class="glyphicon glyphicon-comment"></span></td>
	    			<td></td>
	    			<td></td>
	    			<td>{% if post.published_date %} <span style="color:#aaff77;" data-toggle="tooltip" title="{{ post.published_date }}">Published</span> {% else %} <span data-toggle="tooltip" title="Belum Dipublikasi" style="color:#ff6f6f;">Unpublished</span> {% endif %}</td>
	    			<td>
	    			{% if post.published_date %}
	    			<span class="glyphicon glyphicon-remove opsi merah" data-toggle="tooltip" title="Unpublish"></span>
	    			{% else %}
	    			<span class="glyphicon glyphicon-ok opsi hijau" data-toggle="tooltip" title="Publish"></span>
	    			{% endif %}
	    			&nbsp;&nbsp;&nbsp;
	    			<a href="{% url 'adm_blog_post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil opsi kuning" data-toggle="tooltip" title="Edit"></span></a>
	    			&nbsp;&nbsp;&nbsp;
	    			<a href="#"><span class="glyphicon glyphicon-trash opsi ungu" data-toggle="tooltip" title="Hapus"></span></td></a>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<div>
		<ul class="pagination">
				<li class="disabled"><a>Page {{ posts.number }} of {{ posts.paginator.num_pages }}</a></li>
		    {% for x in posts.paginator.page_range %}
		    	<li class="{% if posts.number = x %}active{% endif %}"><a href="?page={{ x }}">{{ x }}</a></li>
		  	{% endfor %}
		    {% if posts.has_previous %}
		        <li><a href="?page={{ posts.previous_page_number }}">previous</a></li>
		    {% endif %}
	        {% if posts.has_next %}
	            <li><a href="?page={{ posts.next_page_number }}">next</a></li>
	        {% endif %}
		</ul>
		</div>
		</div>
		<div class="container-fluid footer">
	    	<div>Total Post :&nbsp;
	        	<span class="num biru">{{ totposts }}</span>
	        	&nbsp;&nbsp;Published :&nbsp;
	        	<span class="num hijau">{{ totpubs }}</span>
	        	&nbsp;&nbsp;Unpublished :&nbsp;
	        	<span class="num merah">{{ totunpubs }}</span>
	    	</div>
		</div>
	</div>
	</div>
	</div>
{% endblock %}