{% extends 'mainweb/base.html' %}
{% load staticfiles %}
{% block title %}
Profil
{% endblock %}
{% block sidebar %}
                <li>
                    <a href="#" class="{% if request.path == '/adm/profil/' %}active{% endif %}"><span class="glyphicon glyphicon-dashboard"></span> <span>Header</span></a>
                </li>
                <li>
                    <a href="#" class="{% if request.path == '/adm/profil/profil/' %}active{% endif %}"><span class="glyphicon glyphicon-th-list"></span> <span>Profil</span></a>
                </li>
                <li>
                    <a href="#" class="{% if request.path == '/adm/profil/about/' %}active{% endif %}"><span class="glyphicon glyphicon-comment"></span> <span>About</span></a>
                </li>
                <li>
                    <a href="#" class="{% if request.path == '/adm/profil/hobby/' %}active{% endif %}"><span class="glyphicon glyphicon-user"></span> <span>Hobby</span></a>
                </li>
                <li>
                    <a href="#" class="{% if request.path == '/adm/profil/blog/' %}active{% endif %}"><span class="glyphicon glyphicon-star"></span> <span>Blog</span></a>
                </li>
                <li>
                    <a href="#" class="{% if request.path == '/adm/profil/contact/' %}active{% endif %}"><span class="glyphicon glyphicon-cog"></span> <span>Contact</span></a>
                </li>
{% endblock %}
{% block pgcontent %}
		                <div class="row">
		                    <div class="col-lg-9">
		                		<div class="row">
		                    	<div class="col-lg-6">
				                    <div class="box-shdw" style="padding:10px; padding-top:5px; padding-left:15px; padding-right:15px; background: #343d46; margin-bottom:12px;">
				                    	<h2>Profil</h2>
				                        <p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.</p>
				                        <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>
				                    </div>
				                </div>
		                    	<div class="col-lg-6">
				                    <div class="box-shdw" style="padding:10px; padding-top:5px; padding-left:15px; padding-right:15px; background: #343d46; margin-bottom:12px;">
				                    	<h2>Profil</h2>
				                        <p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.</p>
				                        <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>
				                    </div>
				                </div>
			                    </div>
			                    <div class="box-shdw" style="padding:10px; padding-top:5px; padding-left:15px; padding-right:15px; background: #343d46; margin-bottom:12px;">
			                    	<h2>Profil</h2>
			                        <p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.</p>
			                        <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>
			                    </div>
			                    <div class="box-shdw" style="padding:10px; padding-top:5px; padding-left:15px; padding-right:15px; background: #343d46; margin-bottom:12px;">
			                    	<h2>Profil</h2>
			                        <p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.</p>
			                        <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>
			                    </div>
		                    </div>
		                    <div class="col-lg-3">
			                    <div class="box-shdw" style="padding:10px; padding-top:5px; padding-left:15px; padding-right:15px; background: #343d46; margin-bottom:12px;">
			                    	<h2>Profil</h2>
			                        <p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.</p>
			                        <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>
			                    </div>
		                    </div>
		                </div>
{% endblock %}