{% extends 'mainweb/base.html' %}
{% load staticfiles %}
{% block sidebar %}
                <li>
                    <a href="/adm/blog" class="{% if request.path == '/adm/blog/' %}active{% endif %}"><span class="glyphicon glyphicon-file"></span> <span>Postingan</span></a>
                </li>
                <li>
                    <a href="#" class="{% if request.path == '/adm/blog/kategori/' %}active{% endif %}"><span class="glyphicon glyphicon-th-list"></span> <span>Kategori</span></a>
                </li>
                <li>
                    <a href="#" class="{% if request.path == '/adm/blog/komentar/' %}active{% endif %}"><span class="glyphicon glyphicon-comment"></span> <span>Komentar</span></a>
                </li>
                <li>
                    <a href="user" class="{% if request.path == '/adm/blog/user/' %}active{% endif %}"><span class="glyphicon glyphicon-user"></span> <span>User</span></a>
                </li>
                <li>
                    <a href="#" class="{% if request.path == '/adm/blog/administrator/' %}active{% endif %}"><span class="glyphicon glyphicon-star"></span> <span>Administrator</span></a>
                </li>
                <li>
                    <a href="#" class="{% if request.path == '/adm/blog/settings/' %}active{% endif %}"><span class="glyphicon glyphicon-cog"></span> <span>Settings</span></a>
                </li>
{% endblock %}
{% block pgtitle %}

				<div style="background:#181c1f; padding:20px; padding-top:8px;">
				{% if request.path == '/adm/blog/' %}
				<h2 style="text-shadow:0px 0px 5px #3e9bd7;"><span class="glyphicon glyphicon-file"></span> Postingan</h2>
				<span style="color:#c2c4c7;">Hallo {{ user.username }}, ini adalah bagian management postingan blog anda!</span>
				{% elif request.path == '/adm/blog/kategori/' %}
				<h2 style="text-shadow:0px 0px 5px #3e9bd7;"><span class="glyphicon glyphicon-th-list"></span> Kategori</h2>
				<span style="color:#c2c4c7;">Hallo {{ user.username }}, ini adalah bagian management kategori postingan blog anda!</span>
				{% elif request.path == '/adm/blog/komentar/' %}
				<h2 style="text-shadow:0px 0px 5px #3e9bd7;"><span class="glyphicon glyphicon-comment"></span> Komentar</h2>
				<span style="color:#c2c4c7;">Hallo {{ user.username }}, ini adalah bagian management komentar postingan blog anda!</span>
				{% elif request.path == '/adm/blog/user/' %}
				<h2 style="text-shadow:0px 0px 5px #3e9bd7;"><span class="glyphicon glyphicon-user"></span> User</h2>
				<span style="color:#c2c4c7;">Hallo {{ user.username }}, ini adalah bagian management user blog anda!</span>
				{% elif request.path == '/adm/blog/administrator/' %}
				<h2 style="text-shadow:0px 0px 5px #3e9bd7;"><span class="glyphicon glyphicon-star"></span> Administrator</h2>
				<span style="color:#c2c4c7;">Hallo {{ user.username }}, ini adalah bagian management administrator blog anda!</span>
				{% elif request.path == '/adm/blog/settings/' %}
				<h2 style="text-shadow:0px 0px 5px #3e9bd7;"><span class="glyphicon glyphicon-cog"></span> Settings</h2>
				<span style="color:#c2c4c7;">Hallo {{ user.username }}, ini adalah bagian management settingan blog anda!</span>
				{% endif %}
				</div>
{% endblock %}
{% block pgcontent %}
		                		<div class="row">
		                    	<div class="col-lg-12">
			                    	<h3>Manage Postingan</h3>
			                    <div class="box-shdw posting">
			                    	<div class="container-fluid header">
				                    	<ul class="nav nav-pills">
					                    	<li class="active"><a href="#"><span class="glyphicon glyphicon-list-alt"></span> All Posts</a></li>
					                    	<li><a href="#" class="published"><span class="glyphicon glyphicon-eye-open"></span> Published</a></li>
					                    	<li><a href="#" class="unpublished"><span class="glyphicon glyphicon-eye-close"></span> Unpublished</a></li>
					                    	<li class="pull-right"><a href="#">&nbsp;-&nbsp; </a></li>
					                    	<li class="pull-right"><a href="#" style="margin-left:2px; font-weight:bold;">&nbsp;+&nbsp;</a></li>
					                    	<li class="pull-right"><input type="text" class="form-control" placeholder="Search"></li>
				                    	</ul>
			                    	</div>
			                    	<div class="table-responsive">
			                    	<table class="table" style="margin-bottom:10px;">
			                    		<thead style="">
			                    			<tr>
			                    				<td>No</td>
			                    				<td>Tanggal</td>
			                    				<td>Judul</td>
			                    				<td><span class="glyphicon glyphicon-user" data-toggle="tooltip" title="Pengarang"></span></td>
			                    				<td>Kategori</td>
			                    				<td><span class="glyphicon glyphicon-comment" data-toggle="tooltip" style="color:#6fcb9f;" title="Komentar"></span></td>
			                    				<td><span class="glyphicon glyphicon-thumbs-up" data-toggle="tooltip" style="color:#6eb4e1;" title="Suka"></span></td>
			                    				<td><span class="glyphicon glyphicon-heart" data-toggle="tooltip" style="color:#d67979;" title="Favorit"></span></td>
			                    				<td>Status</td>
			                    				<td>Opsi</td>
			                    			</tr>
			                    		</thead>
			                    		<tbody>
			                    			{% for post in posts %}
			                    			<tr class="{% if post.published_date %}published{% else %}unpublished{% endif %}">
				                    			<td>{{ forloop.counter }}</td>
				                    			<td>{{ post.created_date }}</td>
				                    			<td>{{ post.title }}</td>
				                    			<td>{% for user in users %}{% if post.author_id == user.id %} {{ user.username }} {% endif %} {% endfor %}</td>
				                    			<td></td>
				                    			<td><span class="glyphicon glyphicon-comment"></span></td>
				                    			<td></td>
				                    			<td></td>
				                    			<td>{% if post.published_date %} <span style="color:#aaff77;" data-toggle="tooltip" title="{{ post.published_date }}">Published</span> {% else %} <span data-toggle="tooltip" title="Belum Dipublikasi" style="color:#ff6f6f;">Unpublished</span> {% endif %}</td>
				                    			<td>
				                    			{% if post.published_date %}
				                    			<span class="glyphicon glyphicon-remove" data-toggle="tooltip" style="color:#ff6f6f;" title="Unpublish"></span>
				                    			{% else %}
				                    			<span class="glyphicon glyphicon-ok" data-toggle="tooltip" style="color:#aaff77;" title="Publish"></span>
				                    			{% endif %}
				                    			&nbsp;&nbsp;&nbsp;
				                    			<span class="glyphicon glyphicon-pencil" data-toggle="tooltip" style="color:#ffe28a;" title="Edit"></span>
				                    			&nbsp;&nbsp;&nbsp;
				                    			<span class="glyphicon glyphicon-trash" data-toggle="tooltip" style="color:#b493a5;" title="Hapus"></span></td>
			                    			</tr>
			                    			{% endfor %}
			                    		</tbody>
			                    	</table>
			                    	</div>
			                    	<div class="container-fluid footer">
				                    	<div>Total Post :&nbsp;
					                    	<span class="num biru">{{ totposts }}</span>
					                    	&nbsp;&nbsp;Published :&nbsp;
					                    	<span class="num hijau">{{ totpubs }}</span>
					                    	&nbsp;&nbsp;Unpublished :&nbsp;
					                    	<span class="num merah">{{ totunpubs }}</span>
				                    	</div>
			                    	</div>
			                    </div>
			                    </div>
		                    	<div class="col-lg-4">
				                    <div class="box-shdw" style="padding:10px; padding-left:15px; padding-right:15px; background: #343d46; margin-bottom:12px;">
				                    	<h2>Blog</h2>
				                        <p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.</p>
				                        <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>
				                    </div>
				                </div>
		                    	<div class="col-lg-4">
				                    <div class="box-shdw" style="padding:10px; padding-left:15px; padding-right:15px; background: #343d46; margin-bottom:12px;">
				                    	<h2>Blog</h2>
				                        <p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.</p>
				                        <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>
				                    </div>
				                </div>
			                    </div>
{% endblock %}