{% load staticfiles %}
<html>
	<head>
		<title>Tuan Abdul Admin</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
		<link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
		<link rel="stylesheet" href="{% static 'css/main.css' %}">
		<link rel="stylesheet" href="{% static 'css/adm.css' %}">
		<link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
		<link rel="shortcut icon" href="{%  static 'img/flg.png' %}">
		<script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/adm.js' %}"></script>
		<script>
		</script>
	</head>
	<body>
	<div class="loader"></div>
		<nav class="navbar navbar-default navbar-fixed-top">
	      <div class="container-fluid">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <div class="navbar-brand" href="#"><div><img src="{% static 'img/flg.png' %}" class="img-circle imgicn"></div> Tuan Abdul | Administrator</div>
	        </div>
	        <div id="navbar" class="navbar-collapse collapse">
	          <ul class="nav navbar-nav navbar-right">
	            <li class="{% if request.resolver_match.url_name == 'adm_profil' %}active{% endif %}"><a href="/adm/profil">Profil Management</a></li>
	            <li class="{% if request.resolver_match.url_name == 'adm_blog' %}active{% endif %}"><a href="/adm/blog">Blog Management</a></li>
	            <li><a href="{% url 'logout_adm' %}">Logout</a></li>
	          </ul>
	        </div>
	      </div>
    	</nav>
		 <div id="wrapper">

		        <!-- Sidebar -->
		        <div id="sidebar-wrapper">
		            <ul class="sidebar-nav" style="height:100%;">
	                <li class="mnu-btn">
	                    <a href="#" class="menu-toggle">
	                        <span class="glyphicon glyphicon-menu-hamburger"></span> <span class="nm-mnu">Menu</span>
	                    </a>
	                </li>
	                <li>
	                	<a href="#" class="profilbar"><span class="images" style="display:block;"><img src="{% static 'img/cat.jpg' %}" style="" class="img-circle profimg"></span><span class="nama">Muhammad Fahmy</span></a>
	                </li>
		            	{% block sidebar %}
		                {% endblock %}
	                <li>
	                    <a href="#"><span class="glyphicon glyphicon-log-out"></span> <span>Logout</span></a>
	                </li>
		            </ul>
		        </div>
		        <!-- /#sidebar-wrapper -->

		        <!-- Page Content -->
		        <div style="padding:12px; padding-top:14px; padding-bottom: 10px; background:#101315;"><span class="glyphicon glyphicon-home"></span>&nbsp;{{ alamats }}</div>
		        {% block pgtitle %}
		        {% endblock %}
		        <div id="page-content-wrapper">
		            <div class="container-fluid">
				      	<div class="blgpct visible-xs" style="margin-bottom:5px;">
	                    <a href="#" class="menu-toggle" style="color:#fff;">
	                        <span class="glyphicon glyphicon-menu-hamburger"></span> Menu
	                    </a>
	                    </div>
						{% block pgcontent %}
						{% endblock %}
						<div style="margin-top:10px; color:#c2c4c7;">
							Copyright © 2016 Tuan Abdul Cimahi, Indonesia
						</div>
		            </div>

			    
		        </div>
		        <!-- /#page-content-wrapper -->
		    </div>
	    <script>
	    $('.menu-toggle').click(function(e){
	        e.preventDefault();
	        $("#wrapper").toggleClass("toggled");
		});
	    </script>
	</body>
</html>